@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.boxes {
    width: 80%;
    max-width: 336px;
    text-align: center;
    border-top: 28px solid #FFDC40;
    border-radius: 10px;
    box-sizing: border-box;
}

.headerImg {
    width: 336px;
}

.boxes .toDoList {
    font-family: 'Roboto';
    font-size: 26px;
    padding-top: 12px;
    padding-bottom: 19px;
    font-weight: 900;
}

.filterIcon, #sort {
    width: 100%;
    margin-left: 125px;
    margin-bottom: 7px;
}

#input {
    margin-left: 6px;
    width: 286px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding-left: 25px;
    font-size: 14px;
}

.removeIcon, .delete {
    cursor: pointer;
    position: absolute;
    right: 52px;
    bottom: 10px;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 15px;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
    transform: rotate(-90deg);
}

.delete {
    right: 30px;
    bottom: 11px;
}

.inputPart, .add {
    position: relative;
    margin-bottom: 18px;
}

.plusIcon {
    position: absolute;
    left: 94px;
    bottom: 0px;
    background-color: #9953f1;
    width: 42px;
    height: 42px;
    border-radius: 71px;
}

.plusIcon img {
    padding-top: 16px;
}

.add button {
    background-color: #833AE0;
    border-radius: 71px;
    width: 150px;
    height: 42px;
    border: none;
    color: white;
}

.list {
    text-align: left;
    width: 283px;
    position: relative;
    margin: 8px 29px;
    border: 1px solid #C4C4C4;
    display: none;
    border-radius: 10px;
    margin-bottom: 17px;
}

.created-list {
    position: relative;
    padding: 12px 25px;
    font-size: 14px;
}

.delete:hover {
    background-color: #833AE0;
}

.removeIcon:hover {
    background-color: #833AE0;
}

.error {
    color: red;
    display: none;
}

.filterIcon img:hover {
    opacity: 1;
}

.filterIcon img {
    opacity: 0.3;
}

#sort {
    display: none;
}